<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Account Statement</title>
</head>
<STYLE type="text/css">
  H1 { text-align: center}
  DIV.mypars {text-align: center}
  th, td { padding: 5px; vertical-align: top;}
  table { border-collapse: separate; border-spacing: 5px;  border-collapse: collapse; border-spacing: 0;}
  table { margin: 0 auto; }
 </STYLE>
<body>
	<div class="mypars">
		<h1>Please enter following information to get statement</h1>
		
		<div sec:authorize="isAuthenticated()">
			Welcome <strong><span sec:authentication="name">Username</span></strong> &nbsp;
			<em><span sec:authentication="principal.authorities">Roles</span></em>
		</div>
		
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
		
		<div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
		<form th:method="get" th:action="@{/admin/getstatementbyid}">
		<label for="accountid">Account ID:</label><br>
		<input type="text" th:name="accountid"/><br>
		<label for="startDate">From Date(YYYYMMDD):</label><br>
		<input type="text" th:name="startDate"/> <br>
		<label for="endDate">To Date(YYYYMMDD):</label><br>
		<input type="text" th:name="endDate"/> <br>
		<label for="startAmount">From Amount:</label><br>
		<input type="text" th:name="startAmount"/> <br>
		<label for="endAmount">To Amount:</label><br>
		<input type="text" th:name="endAmount"/> <br>
        <button type="submit" class="btn btn-success">SearchStatement</button> 
		</form>
		</div>
		<div sec:authorize="hasAnyAuthority('ROLE_USER')">
		<form th:action="@{/user/getstatementbyid}">
       <button type="submit" class="btn btn-success">SearchStatement</button> 
		</form>
		</div>
		<table border="1" >
		<caption>Account Statement Report</caption>
			<thead>
				<tr>
					<th>Account ID</th>
					<th>Account Type</th>
					<th>Account Number</th>
					<th>Transaction Date</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="statement : ${statementList}">
					<td th:text="${statement.account.accountId}">Account ID</td>
					<td th:text="${statement.account.accountType}">Account Type</td>
					<td th:text="${statement.account.accountNumber}">Account Number</td>
					<td th:text="${statement.dateField}">Transaction Date</td>
					<td th:text="${statement.amount}">Amount</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>